<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
<h2>Sign Up</h2>
<form action="/register" method="post">
</form>
<div>
    <form action="/register" method="post">
        <table>
            <tr>
                <td class=orange-box>
                    <label for="username">Username:</label><br>
                    <input type="text" id="username" name="username" required>
                    <br><br>
                </td>
                <td>
                </td>
                <td class=orange-box>
                    <label for="password">Password:</label><br>
                    <input type="password" id="password" name="password" required><br><br>
                </td>
        </table>
        <br>
        <button class="orange-button" type="submit">Sign Up</button>
        <br>

    </form>
</div>


</body>
</html>
